v1/src/samples/os-volume-1.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://volume.example.com/">
        <resource id="version" path="v1">
            <resource id="tenant_id" path="{tenant_id}">
                <!-- <param name="tenant_id" style="template">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">
                            The unique identifier of the tenant or account.
                        </p>
                    </doc>
                </param> -->
                <?rax start-sections?>
                <resource id="volumes" path="volumes">
                <doc title="Volumes"/>   
                   <method href="#createVolume" />
                   <method href="#getVolumesSimple" />

                       <resource path="detail" id="detail">
                           <!-- as of 7-25-12, this is same as non-detailed  
                               <method href="#getVolumesDetail" />  -->
                       </resource>

                       <resource path="{volume_id}" id="volume_id">
                           <param name="volume_id" style="template" required="true">
                               <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                   The unique identifier of an existing Volume.
                               </p></doc>
                           </param>
        
                          <method href="#getVolume" />
                          <method href="#deleteVolume" />
        
                       </resource>
                </resource>
                
                <resource id="volume_types" path="/types">
                    <doc title="Volume types"/>
                    <method href="#getVolumeTypes" />

                    <resource path="{volume_type_id}" id="volume_type_id">
                        <param name="volume_type_id" style="template" required="true">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                The unique identifier of an existing Volume Type.
                            </p></doc>
                        </param>

                        <method href="#getVolumeType" />
                    </resource>
                </resource>

                <resource id="snapshots" path="snapshots">
		   <doc title="Snapshots"/>
                    <method href="#createSnapshot" />
                    <method href="#getSnapshotsSimple" />

                    <resource path="detail" id="snapshot_detail">
                        <!-- as of 7-25-12, this is same as non-detailed   
                           <method href="#getSnapshotsDetail" /> -->
                    </resource>

                    <resource path="{snapshot_id}" id="snapshot_id">
                        <param name="snapshot_id" style="template" required="true">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                The unique identifier of an existing Snapshot.
                            </p></doc>
                        </param>

                        <method href="#getSnapshot" />
                        <method href="#deleteSnapshot" />

                    </resource>
                </resource>

          </resource>
        </resource>
    </resources>

    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Create Volume">
           <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Creates the volume.</p>
            
            
<!--
    The below are examples of how to insert new text into the wadl and have it display.
    Two forms of text are given, Comment to the Reviewer and Straight Text
    <p>
            <remark xmlns="http://docbook.org/ns/docbook" security="reviewer">Reviewer - Here is my question!</remark>
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">Create a Volume - hey! this is old text. 
            The below example creates a volume called vol-001.</p>
-->            
            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                The below example creates a SATA volume called "vol-001" that has a size of 30 GB.
            </p></doc>
        </wadl:doc>
        <request>
            <param name="volume" style="query" type="string" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    A partial representation of a volume used in the creation process.
                </p></doc>
            </param>
            <param name="size" style="query" type="string" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The size (in GB) of the volume.
                </p></doc>
            </param>
            <param name="display_description" style="query" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    A description of the volume.
                </p></doc>
            </param>
            <param name="display_name" style="query" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The name of the volume. 
                </p></doc>
            </param>
            <param name="snampshot_id" style="query" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The optional snapshot from which to create a volume.
                </p></doc>
            </param>
            <param name="voume_type" style="query" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The type of volume to create, either SATA or SSD. If not defined,
                    then the default, SATA, is used.
                </p></doc>
            </param>
            
            <representation mediaType="application/xml">
                
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_create.xml" />
                </doc>                            
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_create.json" />
                </doc>
            </representation>
        </request>

        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.json" />
                </doc>
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Note that you use the <code>os-volume_attachments</code> API call 
                    (/servers/{server_id}/os-volume_attachments) to attach 
                    the new volume to your Next Generation Cloud Server (with 
                    the specified {server_id}). 
                    Refer to the <i>Next Generation Cloud Servers Developer Guide</i> 
                    at <a href="docs.rackspace.com">docs.rackspace.com</a> for details 
                    of the call. Once the volume is attached, the new volume will appear 
                    as another device on the Next Generation Cloud Server. It can 
                    then be partitioned, formatted, and mounted for use on the system.    
                </p></doc>
                

                
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumesSimple">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="List Volumes">
            <p xmlns="http://www.w3.org/1999/xhtml">View a list of volumes.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumesDetail">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E"
            title="List Volumes (Detailed)">
            <p xmlns="http://www.w3.org/1999/xhtml">View a list of detailed Volume entities.</p>

        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    
                    <xsdxt:code href="samples/volume_list_simple.xml" />
                    
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_list_simple.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="Show Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">View all information about a single Volume.</p>
        </wadl:doc>
        <request>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_show.json" />
                </doc>
            </representation>
        </response>
    </method>


    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="Delete Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">Delete a single Volume.</p>
        </wadl:doc>
        <response status="202" />
    </method>

    <method name="GET" id="getVolumeTypes">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="List Volume Types">
            <p xmlns="http://www.w3.org/1999/xhtml">Request a list of Volume Types.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_list.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_list.json" />
                </doc>
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Note that two storage types are currently supported: SATA 
                    and SSD. SATA is the standard performance storage option 
                    and SSD is the high performance option. 
                </p></doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumeType">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" title="Describe Volume Type">
            <p xmlns="http://www.w3.org/1999/xhtml">Request a single Volume Type.</p>

        </wadl:doc>
  
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_show.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/volume_type_show.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" 
            title="Create Snapshot">
            <p class="shortdesc" xmlns="http://www.w3.org/1999/xhtml">Create a Snapshot.</p>
        </wadl:doc>
        
        <doc><p xmlns="http://www.w3.org/1999/xhtml">
            Creating a snapshot makes a point-in-time copy of the
            volume. All writes to the volume should be flushed <i>before</i>
            creating the snapshot, either by un-mounting any file systems on the
            volume, or by detaching the volume before creating the snapshot.
            Snapshots are incremental, so each time you create a new snapshot, you are
            appending the incremental changes for the new snapshot to the previous
            one. The previous snapshot is still available. Note that you can
            create a new volume from the snapshot if desired.       
        </p></doc>
        <request>
            <param name="snapshot" style="query" type="string" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    A partial representation of a snapshot used in the creation process.
                </p>
                </doc>
            </param>
            <param name="volume_id" style="query" type="string" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The ID of the volume to snapshot.
                </p>
                </doc>
            </param>
            <param name="force" style="query" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    [True/False] Indicate whether to snapshot, even if the volume is attached. 
                    Default==False.
                </p>
                </doc>
            </param>            
            <param name="display_name" style="query" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Name of the snapshot. Default==None.
                </p>
                </doc>
            </param>
            <param name="display_description" style="query" type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Description of snapshot. Default==None.
                </p>
                </doc>
            </param>
            
            
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_create.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_create.json" />
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getSnapshotsSimple">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" 
            title="List Snapshots">
            <p xmlns="http://www.w3.org/1999/xhtml">
                View a list of simple Snapshot entities.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_list_simple.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_list_simple.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getSnapshotsDetail">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" 
            title="List Snapshots (Detailed)">
            <p xmlns="http://www.w3.org/1999/xhtml">
                View a list of detailed Snapshot entities.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_list_simple.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_list_simple.json" />
                </doc>
            </representation>
        </response>
    </method>


    <method name="GET" id="getSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" 
            title="Show Snapshot">
            <p xmlns="http://www.w3.org/1999/xhtml">
                View all information about a single Snapshot.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/snapshot_show.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E" 
            title="Delete Snapshot">
            <p xmlns="http://www.w3.org/1999/xhtml">Delete a single Snapshot.</p>
        </wadl:doc>
        <response status="202" />
    </method>

</application>
